
.content {
    margin-bottom: 30px;
  }
  .content h2 {
    text-align: center;
  }

  .project img {
    width: 100%;
    max-width: 400px;
    height: auto;
  }
  
  .project h3 {
    font-size: 16px;
    margin-top: 10px;
  }
  
  .project p {
    font-size: 16px;
    margin-top: 5px;
  }
  
  .project a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
  }