
.content {
    margin-bottom: 30px;
  }
  .content h2 {
    text-align: center;
  }

  .content img {
    width: 100%;
    max-width: 400px;
    height: auto;
  }
  
  .content h3 {
    font-size: 16px;
    margin-top: 10px;
  }
  
  .content p {
    font-size: 16px;
    margin-top: 5px;
    color: blue;
  }
  
  .content a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
  }